.site-button.active {
    background-color: #007bff;
    color: white;
    /* add any other styles for the active state */
  }


  .checkbox-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .site-checkbox {
    margin-left: 5px; /* Adjust the spacing between checkbox and label */
  }
  
  /* Add styles for the checked state if needed */
  .site-checkbox:checked {
    /* Your checked styles */
  }